h2{
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 0px;
  font-family: "Montez", cursive;
  font-size: xx-large;
  font-weight: normal;
  color: blue;
}

h4{
  margin-left: 15px;
  margin-top: 0px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: normal;
  font-size: small;
}

.header-bar{
  padding-top: 10px;
  padding-bottom: 80px;
  background-image: linear-gradient(to right, whitesmoke , grey);
}

.sign-buttons {
  background-color: blue;
  color: white;
  text-align: center;
  margin-right: 5px;
  margin-top: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.input-text {
  background-color: #ececec;
  border: 0;
  padding: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
}

.submit-btn {
  padding: 10px;
  width: 370px;
  margin-top: 15px;
  font-weight: bold;
  align-items: center;
  background-color: #82b366;
  color: white;
  border: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
}

.post-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 52%;
}


.modal-title {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color:Grey;
  padding: 5px;
  margin: 0;
}

.form-label {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}


.close,.signIn-Close,.createPost-Close{
  float: right;
  font-size: 30px;
  color:grey;
}


.home-pg-part2-div {
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-btn{
  align-items: center;
  padding: 10px;
  width: 100px;
  margin: 5px;
  background-color: #ffcc00;
  color: #4d4d4d;
  border-color: whitesmoke;
}

.post-text{
  background-color: #ececec;
  border: 0;
  padding: 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width:750px;
}

.post-submit-btn {
  padding: 10px;
  width: 100px;
  margin-top: 15px;
  font-weight: bold;
  align-items: center;
  background-color: #82b366;
  color: white;
  border: 0;
  margin-left: 310px
}