.body-bg {
    background-color: #ffeedd;
}

.post {
   	display: flex;
    flex-direction: row;
    border-radius: 15px;
    max-width: 40%;
    margin: 20px;
	box-shadow: 0 0 10px #888888;

}
.username {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 15px 0px 0px 15px;
    justify-content: center;
    font-weight: bold;
    color: grey;
}

.post-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.post-title {
	background-color: #E8E8E8;
	font-weight: bold;
	color: grey;
	text-align: left;
	padding: 0px 15px 5px 15px;
	margin-right: 130px;
	float:left;
}

.post-icon {
  	float:right;
    color: #707070;
    cursor: pointer;
}

.post-content {
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E8E8E8;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}





.btn-yes {
    width: fit-content;
    background-color: green;
    padding: 5px 30px 5px 30px;

}

.btn-no {
    width: fit-content;
    background-color: red;
    padding: 5px 30px 5px 30px;
}

.modal-delete-body {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
    font-family: sans-serif;
}

.modal-delete-header {
    width: 100%;
    text-align: center;
    font-size: 1.15em;
    font-family: sans-serif;
}